{% extends 'layout.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            <b>{{ title }}</b>
        </h3>
        <div class="card-tools">
            <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <h2>Cargar Usuarios desde Excel</h2><br />
            {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo_excel" accept=".xlsx" required><br /><br />
        <button type="submit">Cargar Datos</button>
    </form>
      
    

        </div>
    </div>
</div>  
{% endblock %}